<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Howest.Prog.Cia.CurrencySwapper.Web</title>
</head>
<body>
    <header>
        <h1>Currency Converter</h1>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
